Use_Label=false
Show_Values=true
Show_Bars=true
Colorize_Values=false
Color_In=#FF4F00
Color_Out=#FFE500
Text=Net
Network_Device=eth0
Max_In=10240000
Max_Out=10240000
Auto_Max=false
Update_Interval=300

