[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[FA326C0F326BCEE7]
row=1
col=0

[2C9A49C79A498DF0]
row=3
col=0

[BEB89241B891F7DB]
row=2
col=0

[F0FCBC07FCBBC65E]
row=0
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/home/yao]
row=6
col=0

